<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ergaominis - Sua qualidade de vida</title>
    <script src="https://kit.fontawesome.com/7730eb084f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/style.css" >
    <link rel="icon" href="images/gatinho5.png">
    <!--- GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!--- SWIPER JS-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
   
/>




</head>
<body>

    <nav>
        <div class="container nav__container">
            <a href="/erga">Ergaominis</a>
            <ul class="nav__menu">
                <li><a href="/erga">Início</a></li>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/contact">Contato</a></li>
                <li><a href="/camera">Câmera</a></li>
                <li><a href="https://pomofocus.io/" target="_blank">Pomodoro</a></li>


            </ul>

            <button id="open-menu-btn"> <i class="fa-solid fa-bars"></i></button>
            <button id="close-menu-btn"> <i class="fa-solid fa-xmark"></i></button>
        </div>
    </nav>

    <!--========================== FIM DO NAV BAR ==========================-->

 



    <div>
        <div>
            <div>
                <div>
                    <div>
                        <div class="container" style="border-right: solid rgba(0, 0, 0, 0.061);border-bottom: solid rgba(0, 0, 0, 0.061); width: 1280px;margin-top: 100px;">

                            <video id="video" width="100%"
                                height="100%" autoplay>
                            </video>
                       
                        </div>
 
                        <div style="text-align: center; padding: 6px;">
                         
                            <a href="#!" style="background-color: rgb(17, 47, 17); padding: 6px; border-radius: 6px; margin-right: 10px;"
                                onClick="start()">
                                Start Cam
                            </a>
                            <a href="#!" style="background-color: rgb(174, 18, 18); padding: 6px;border-radius: 6px;"
                            onClick="stop()">
                            Stop Cam
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 


    <script>
        var stop = function () {
            var stream = video.srcObject;
            var tracks = stream.getTracks();
            for (var i = 0; i < tracks.length; i++) {
                var track = tracks[i];
                track.stop();
            }
            video.srcObject = null;
        }
        var start = function () {
            var video = document.getElementById('video'),
                vendorUrl = window.URL || window.webkitURL;
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                    }).catch(function (error) {
                        console.log("Something went wrong!");
                    });
            }
        }
        $(function () {
            start();
        });  
    </script>




   
    <!--========================== FIM DA SECTION TESTEMUNHAS ==========================-->
   
    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__1">
                <a href="/erga" class="footer__logo"><h4>Ergaominis</h4></a>
            <p>
                Obrigado pela disposição de se interessar pelo nosso trabalho, volte sempre que quiser!            </p>
            </div>

            <div class="footer__2">
                <h4>Links</h4>
                <ul>
                    <li><a href="/erga">Início</a></li>
                    <li><a href="/about">Sobre</a></li>
                    <li><a href="/contact">Contato</a></li>
                    <li><a href="/camera">Câmera</a></li>
                    <li><a href="https://pomofocus.io/" target="_blank">Pomodoro</a></li>

                </ul>
            </div>

            <div class="footer__3">
                <h4>Primacy</h4>
                <ul class="privacy">
                    <li><a href="#">Política de privacidade</a></li>
                    <li><a href="#">Termos e condições</a></li>
                </ul>
            </div>

            <div class="footer_4">
                <h4>Contate-nos</h4>
                <div>
                    <p> +31 973595729</p>
                    <p>Ergaominis1@gmail.com</p>
                </div>

                <ul class="footer__socials">
                    <li>
                        <a href="https://www.instagram.com/ergaominis_/?r=nametag" > <i class="fa-brands fa-instagram"></i> </a>
                    </li>
                    <li>
                        <a href="#" > <i class="fa-brands fa-linkedin"></i> </a>
                    </li>
                    <li>
                        <a href="#" > <i class="fa-brands fa-twitter"></i></a>
   
                    </li>
                    <li>
                        <a href="#" > <i class="fa-brands fa-facebook"></i></a>
                    </li>
                </ul>
            </div>

           
       
        </div>

        <div class="footer__copyright">
            <small>Copyright &copy; Ergaominis</small>
        </div>
    </footer>

 
   
   
    <!--========================== FIM DA SECTION FOOTER ==========================-->
   
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/scripts.js"></script>

   
    <script>
        var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        pagination: {
        el: ".swiper-pagination",
        clickable: true,
        },
        breakpoints: {
            600: {
                slidesPerView: 2
            }
        }
    });
 </script>
   
</body>
</html>