<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ergaominis - Sua qualidade de vida</title>
    <script src="https://kit.fontawesome.com/7730eb084f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/style.css" >
    <link rel="stylesheet" href="CSS/contact.css" >
    <link rel="icon" href="images/gatinho5.png">

    <!--- GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">



</head>
<body>

    <nav>
        <div class="container nav__container">
            <a href="/erga">Ergaominis</a>
            <ul class="nav__menu">
                <li><a href="/erga">Início</a></li>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/courses">Temperatura</a></li>
                <li><a href="/contact">Contato</a></li>
                <li><a href="/camera">Câmera</a></li>

                <li><a href="https://pomofocus.io/" target="_blank">Pomodoro</a></li>

            </ul>

            <button id="open-menu-btn"> <i class="fa-solid fa-bars"></i></button>
            <button id="close-menu-btn"> <i class="fa-solid fa-xmark"></i></button>
        </div>
    </nav>


    <section class="contact">
        <div class="container contact__container">
            <aside class="contact__aside">
                <div class="aside__image">
                    <img src="" >
                </div>
                <h2> Fale Conosco!</h2>
                <p>
                    Dê suas opiniões de melhorias, nos mostre os problemas ou nos contate para qualquer informação que precisar, responderemos vocês 
                    pelo email!
                </p>
                <ul class="contact__details">
                    <li>
                        <i class="fa-solid fa-phone"></i>
                        <h5>+31973595729</h5>
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        <h5> Ergaominis1@gmail.com </h5>

                </ul>

                <ul class="contact__socials">
                    <li>
                        <a href="https://www.instagram.com/ergaominis_/?r=nametag" > <i class="fa-brands fa-instagram"></i> </a> 
                    </li>
                    <li>
                        <a href="#" > <i class="fa-brands fa-linkedin"></i> </a>
                    </li>
                    <li>
                        <a href="#" > <i class="fa-brands fa-twitter"></i></a>
    
                    </li>
                    <li>
                        <a href="#" > <i class="fa-brands fa-facebook"></i></a>
                    </li>
                </ul>
            </aside>
            
                <form action="https://formspree.io/f/mbjbjndl" method="POST" class="contact__form">
                    <div class="form__name">
                        <input type="text" placeholder="Primeiro Nome" name="Primeiro Nome" required>
                        <input type="text" placeholder="Sobrenome" name="Sobrenome" required>
                    </div>

                    <input type="email" name="Email Adress" placeholder="Seu endereço de email" required>
                    <textarea name="Mensagem" rows="/" placeholder="Mensagem"></textarea>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>

        </div>
    </section>



































    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__1">
                <a href="/erga" class="footer__logo"><h4>Ergaominis</h4></a>
            <p>
                Obrigado pela disposição de se interessar pelo nosso trabalho, volte sempre que quiser!


            </p>
            </div>

            <div class="footer__2">
                <h4>Links</h4>
                <ul>
                    <li><a href="/erga">Início</a></li>
                    <li><a href="/about">Sobre</a></li>
                    <li><a href="/courses">Temperatura</a></li>
                    <li><a href="/contact">Contato</a></li>
                    <li><a href="/camera">Câmera</a></li>

                    <li><a href="https://pomofocus.io/" target="_blank">Pomodoro</a></li>

                </ul>
            </div>

            <div class="footer__3">
                <h4>Primacy</h4>
                <ul class="privacy">
                    <li><a href="#">Política de privacidade</a></li>
                    <li><a href="#">Termos e condições</a></li>
                </ul>
            </div>

            <div class="footer_4">
                <h4>Contate-nos</h4>
                <div>
                    <p> +31 973595729</p>
                    <p>ergaominis1@gmail.com</p>
                </div>

                <ul class="footer__socials">
                    <li>
                        <a href="#" > <i class="fa-brands fa-instagram"></i> </a> 
                    </li>
                    <li>
                        <a href="#" > <i class="fa-brands fa-linkedin"></i> </a>
                    </li>
                    <li>
                        <a href="#" > <i class="fa-brands fa-twitter"></i></a>
    
                    </li>
                    <li>
                        <a href="#" > <i class="fa-brands fa-facebook"></i></a>
                    </li>
                </ul>
            </div>

           
        
        </div>

        <div class="footer__copyright">
            <small>Copyright &copy; Ergaominis</small>
        </div>
    </footer>

    <script src="/js/scripts.js"></script>
</body>
</html>