 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ergaominis - Sua qualidade de vida</title>
    <script src="https://kit.fontawesome.com/7730eb084f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/style.css" >
    <link rel="icon" href="images/gatinho5.png">
    <!--- GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!--- SWIPER JS-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
</head>
<body>

    <nav>
        <div class="container nav__container">
            <a href="/erga">Ergaominis</a>
            <ul class="nav__menu">
                <li><a href="/erga">Início</a></li>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/courses">Temperatura</a></li>
                <li><a href="/contact">Contato</a></li>
                <li><a href="/camera">Câmera</a></li>
                <li><a href="https://pomofocus.io/" target="_blank">Pomodoro</a></li>
            </ul>

            <button id="open-menu-btn"> <i class="fa-solid fa-bars"></i></button>
            <button id="close-menu-btn"> <i class="fa-solid fa-xmark"></i></button>
        </div>
    </nav>

    <!--========================== FIM DO NAV BAR ==========================-->

    <header>
        <div class="container header__container"> 
            <div class="header__left">
                <h1>Melhore sua experiência no trabalho </h1>
                <p> Sua saúde física e mental é importante, 
                    por isso é importante lembrar e aprender sobre ergonomia para ter um rendimento melhor no seu trabalho.
                    Temos um temporizador que calcula o tempo do seu serviço, alerta sobre posturas e um medidor de temperatura, O check-in é para você
                    informar a empresa onde trabalha sobre sua estrutura para que eles possam providenciar uma infraestrutura melhor para você.
                </p>
                <br>
                <a href="/courses" class="btn btn-primary">Medidor de temperatura</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeZA7bCuU0eatRBkYTxnRAQE3wZNiTQ_9_4l5E6avKhfrByPg/viewform?usp=sharing" class="btn btn-primary">Check-in</a>
            </div>

            <div class="header__right">
                <div class="header__right-image">
                    <img src="images/Gatinho 1.png" >
                </div>
            </div>
        </div>
    </header>
        <!--========================== FIM DO HEADER ==========================-->








    <section class="categories">
        <div class="container categories__container">
            <div class="categories__left">
                <h1>Categorias</h1>
                <p>
                    Algumas categorias importantes para melhora do seu desempenho, pratique esses tópicos
                    para que você tenha uma postura melhor, não seja tão prejudicado e não se sinta tão cansado
                    para que sua carga de trabalho não seja excessiva.
                </p>
            </div>

            <div class="categories__right">
                <article class="category">
                  <span class="category__icon"> <i class="fa-solid fa-atom"></i> </span>
                    <h5>Meditação</h5>
                    <p>Um dos seus grandes benefícios é que ela ajuda o praticante a reduzir o estresse e a lidar com as emoções, 
                        inclusive, com a dor e o sofrimento.</p>
                </article>

                <article class="category">
                    <span class="category__icon"> <i class="fa-solid fa-book"></i> </span>
                      <h5>Ler</h5>
                      <p>Além de aumentar o conhecimento, o hábito da leitura aprimora o vocabulário e ajuda na construção textual.</p>
                  </article>

                  <article class="category">
                    <span class="category__icon"> <i class="fa-solid fa-dumbbell"></i></i> </span>
                      <h5>Exercícios Físicos</h5>
                      <p>contribui para o bem-estar físico, saúde mental, bom funcionamento do coração, 
                        circulação sanguínea, da respiração e até mesmo dos hormônios.</p>
                  </article>

                  <article class="category">
                    <span class="category__icon"> <i class="fa-solid fa-utensils"></i></i> </span>
                      <h5>Alimentação</h5>
                      <p>Um cardápio balanceado fornece disposição e mais energia para as atividades diárias.</p>
                  </article>

                  <article class="category">
                    <span class="category__icon"> <i class="fa-solid fa-moon"></i> </span>
                      <h5>Durma bem</h5>
                      <p>É durante o sono que o organismo exerce as principais funções restauradoras do corpo.</p>
                  </article>

                  <article class="category">
                    <span class="category__icon"> <i class="fa-solid fa-brain"></i> </span>
                      <h5>Saúde Mental</h5>
                      <p> A saúde mental tem influência nas condições físicas, no bem-estar e 
                        nas atividades relacionadas ao cérebro.</p>
                  </article>
            </div>
        </div>
    </section>

    <!--========================== FIM DA SECTION CATEGORIAS ==========================-->
    <section class="faqs">
        <h2>Perguntas Frequentes</h2>
        <div class="container faqs__container"> 
            <article class="faq">
                <div class="faq__icon"><i class="fa-solid fa-plus"></i></div>
                <div class="question__answer">
                    <h4>Como posso melhorar minha estrutura no Home-Office?</h4>
                    <p> Você pode começar respondendo o nosso formulário de check-in para que notifiquemos sua empresa para informar
                        suas dificuldades com a infraestrutura do seu trabalho em casa.
                    </p>
               </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="fa-solid fa-plus"></i></div>
                <div class="question__answer">
                    <h4>Como usar o medidor de temperatura?</h4>
                    <p> </p>
               </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="fa-solid fa-plus"></i></div>
                <div class="question__answer">
                    <h4>Essas categorias, irão mesmo melhorar minha perfomance?</h4>
                    <p> </p>
               </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="fa-solid fa-plus"></i></div>
                <div class="question__answer">
                    <h4>Como usar o método de pomodoro?</h4>
                    <p> </p>
               </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="fa-solid fa-plus"></i></div>
                <div class="question__answer">
                    <h4>Vocês tem redes sociais?</h4>
                    <p> </p>
               </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="fa-solid fa-plus"></i></div>
                <div class="question__answer">
                    <h4>Como eu sei que esse é o curso certo para mim?</h4>
                    <p> </p>
               </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="fa-solid fa-plus"></i></div>
                <div class="question__answer">
                    <h4>Como eu sei que esse é o curso certo para mim?</h4>
                    <p> </p>
               </div>
            </article>
            <article class="faq">
                <div class="faq__icon"> <i class="fa-solid fa-plus"></i></div>
                <div class="question__answer">
                    <h4>Como eu sei que esse é o curso certo para mim?</h4>
                    <p> </p>
               </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="fa-solid fa-plus"></i></div>
                <div class="question__answer">
                    <h4>Como eu sei que esse é o curso certo para mim?</h4>
                    <p> </p>
               </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="fa-solid fa-plus"></i></div>
                <div class="question__answer">
                    <h4>Como eu sei que esse é o curso certo para mim?</h4>
                    <p> </p>
               </div>
            </article>
        </div>
    </section>

    <!--========================== FIM DA SECTION FAQS ==========================-->
    
    

    <section class="container testimonials__container mySwiper">
        <h2>Testemunhas do nosso serviço</h2>
        <!--done by KR-->
        <div class="swiper-wrapper">
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="images/homem2.webp">
                </div>
                <div class="testimonial__info">
                    <h5>Fernando Henrique</h5>
                    <small>CEO </small>
                </div>
                <div class="testimonial__body">
                    <p>
                        As temperaturas são medidas precisamente e as dicas são muito necessárias
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="images/mulher1.jpg">
                </div>
                <div class="testimonial__info">
                    <h5>Adriana Barbosa</h5>
                    <small>Estudante</small>
                </div>
                <div class="testimonial__body">
                    <p>
                                 Estudei esse projeto incrível na faculdade, achei incrível!       
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="images/mulher2.jpg">
                </div>
                <div class="testimonial__info">
                    <h5>Marina Santana</h5>
                    <small>Coordenadora</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        O servidor funciona perfeitamente, isto é revolucionário!
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="images/homem1.webp">
                </div>
                <div class="testimonial__info">
                    <h5>Guilherme Santos</h5>
                    <small>Gestor</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Que serviço incrível, parabéns!
                    </p>
                </div>
            </article>
        </div>
        <div class="swiper-pagination"></div>
    </section>
    
    <!--========================== FIM DA SECTION TESTEMUNHAS ==========================-->
    
    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__1">
                <a href="/erga" class="footer__logo"><h4>Ergaominis</h4></a>
            <p>
                Obrigado pela disposição de se interessar pelo nosso trabalho, volte sempre que quiser!            </p>
            </div>

            <div class="footer__2">
                <h4>Links</h4>
                <ul>
                    <li><a href="/erga">Início</a></li>
                    <li><a href="/about">Sobre</a></li>
                    <li><a href="/courses">Temperatura</a></li>
                    <li><a href="/contact">Contato</a></li>
                    <li><a href="/camera">Câmera</a></li>

                    <li><a href="https://pomofocus.io/" target="_blank">Pomodoro</a></li>

                </ul>
            </div>

            <div class="footer__3">
                <h4>Primacy</h4>
                <ul class="privacy">
                    <li><a href="#">Política de privacidade</a></li>
                    <li><a href="#">Termos e condições</a></li>
                </ul>
            </div>

            <div class="footer_4">
                <h4>Contate-nos</h4>
                <div>
                    <p> +31 973595729</p>
                    <p>Ergaominis1@gmail.com</p>
                </div>

                <ul class="footer__socials">
                    <li>
                        <a href="https://www.instagram.com/ergaominis_/?r=nametag" > <i class="fa-brands fa-instagram"></i> </a> 
                    </li>
                    <li>
                        <a href="#" > <i class="fa-brands fa-linkedin"></i> </a>
                    </li>
                    <li>
                        <a href="#" > <i class="fa-brands fa-twitter"></i></a>
    
                    </li>
                    <li>
                        <a href="#" > <i class="fa-brands fa-facebook"></i></a>
                    </li>
                </ul>
            </div>

           
        
        </div>

        <div class="footer__copyright">
            <small>Copyright &copy; Ergaominis</small>
        </div>
    </footer>

 
    
    
    <!--========================== FIM DA SECTION FOOTER ==========================-->
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/scripts.js"></script>

    
    <script>
        var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        pagination: {
        el: ".swiper-pagination",
        clickable: true,
        },
        breakpoints: {
            600: {
                slidesPerView: 2
            }
        }
    });
 </script>
    
</body>
</html>
